.navbar-wrapper{
    z-index: 20000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    min-width: 100%;
    top:0;
    height:auto;
    position: fixed;
    font-family: "gambado-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

.navbar-wrapper a{
    text-decoration: none;
    color: #333333;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 1rem;
}

.navbar a{
    color: #729b79;
}

.nav-btn{
    position: absolute;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline:none;
    color: white;
    visibility: hidden;
    opacity: 0 ;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn{
        position: relative;
        visibility: visible;
        opacity: 1 ;
    }
    header .navbar{
        position: fixed;
        top:0;
        right: 0;
        height: 50%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background: #729b79;
        transition: 1s;
        transform: translateY(-100vh);
        color: white;
    }
    .navbar a{
        color: white;
    }
    header .responsive-nav{
        transform: none;
    }

}