.video-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    position: absolute;
}



@media screen and (max-width: 1200px){
    #video-wrapper{
        padding: var(--space-l-900);
    }
}

@media screen and (max-width: 1024px){
    #video-wrapper{
        padding: var(--space-s-300);
    }
    .video-responsive{
        padding-bottom: 60%;
    }
}

@media screen and (max-width: 480px){
    .video-responsive{
        padding-bottom: 100%;
    }

}