/*MAIN PAGE*/
#home{
    color: #fafbf6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
}
/*-----------------------*/
/*INTRO*/


.background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.fade-in {
    animation-name: fadeIn;
}

.fade-out {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-s-100);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50%;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}
#name{
    font-family: "gambado-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
}
#title{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1px;
}

#resume-btn{
    font-family: "Russo One", sans-serif;
    font-style: normal;
    text-decoration: none;
    color: white;
    background: var(--color-secondary);
    font-size: var(--space-s-300);
    padding: var(--space-s-100);
    border-radius: var(--border-radius);
}

.socials{
    display: flex;
    flex-direction: row;
    gap:var(--space-s-200);

}

.socials a{
    color: #fff;
    text-decoration: none;
}

/*-----------------------*/
/*SKILLS*/

.skills-wrapper{
    width: 100%;
    font-family: "lores-12", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
    gap: 1vw 3vw;
    display: grid;
    grid-template-columns: repeat(6,6vw);
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2vw;
    margin-bottom: 5vw;

}
.skills-wrapper>li>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}
/*-----------------------*/
/*RECENT-PROJECTS*/

.home-container{
    display:inline-block ;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y:hidden ;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 3rem ;
}

.recent-projects {
    font-family: "Russo One", sans-serif;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(10,auto);
    gap: 1vw;
    margin-top: 1.5vh;
    overflow-x: scroll;
    overflow-Y:hidden ;
    padding: 2rem;
    margin-bottom: 5vw;
}


#socials{
   display: flex;
    justify-content: left;
    gap: 1rem;
    align-items: center;

}
#socials > a{
    text-decoration: none;
    color:  rgb(86,90,117);
    border-radius: .3rem;
}
#footer{
    margin-bottom: 3rem;
    font-size: 4vh;
    padding: 0 3rem ;
}
.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me{
    width: 50vw;
    background: white;
    color: black;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 3rem;
    font-size: .9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#profile-pic{
    width: 25%;
    object-fit: contain;
    border-radius: 100%;
}
#video{
    object-fit: cover;
    width: 100vw;
}

.line{
    width:50vw;
    margin:0 auto;
    margin-bottom: 1vw;
}

.section-titles{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fafbf6;
    margin-bottom: 0.5rem;
    margin-top: 7rem;
}

#cv-button{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    color: #fafbf6;
    background: #5F737B;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}
#cv-button:hover{
    cursor: pointer;
    background: #A53551;
}
@media only screen and (max-width: 1024px) {
    #intro{
        display: flex;
        flex-direction: column;

    }
    #recent-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #home-thumbnail{
        width: 80vw;
        height: 30vh;
    }
    #name{
        font-size: 6vw;
    }
    #title{
        font-size: 2vw;
    }
    .section-titles{
        font-size: 4vw;
    }
    .line{
        width:80vw;
    }
    .about-me{
        width: 80vw;
        font-size: 2vw;

    }
    .skills-wrapper{
        font-size: 7vw;
        gap: 2vw 5vw;
        grid-template-columns: repeat(6,7vw);
    }

    .thumbnail-text-wrapper{
        font-size: 2.5vw;
    }

    .thumbnail-description{
        font-size: 2vw;
    }



}

@media only screen and (max-width: 768px) {

    .skills-wrapper{
        font-size: 9vw;
        gap: 3vw 6vw;
        grid-template-columns: repeat(6,9vw);
    }
    #intro{
        margin-top: 4rem;
        min-height: 50vh;
    }
    #buttons>a{
        font-size: 3vw; ;
    }
    .recent-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .home-thumbnail{
        width: 70vw;
        height: 30vh;


    }
    #name{
        font-size: 8vw;
    }
    #title{
        font-size: 3vw;
        text-wrap: normal;
    }
    .about-me{
        font-size: 2.5vw;
    }

}