#home{
    font-family: "indivisible", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #fafbf6;
    display: flex;
    flex-direction: column;
}


#intro{
    min-height: 100vh;
    font-weight: bold;
    font-size: 3vw;
    display: grid;
    grid-template-columns: repeat(2,50%);
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    padding: 1vh 5vw ;
    background: rgb(86,90,117);
    background: linear-gradient(180deg, rgba(15,15,27,1) 50%, rgba(86,90,117,1) 90%);
    border: none;
}
#intro > img{
    width: 100%;
    object-fit: contain;
}

#buttons-wrapper{
    font-family: "lores-12", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3vw;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(86,90,117);
    background: linear-gradient(180deg, rgba(86,90,117,1) 0%, rgba(15,15,27,1) 90%);
    padding: 3vh;
    text-shadow: 1px 5px 5px  rgb(15,15,27);
    color: #E8EBEA;
    border: none;
}

#buttons{
    font-family: "indivisible", sans-serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-shadow: none;
}

#buttons > a{
    text-decoration: none;
    background: #E8EBEA;
    color: #565a75;
    padding: 1rem;
    border-radius: .3rem;
    font-size: 1.5vw;
}

#buttons > a:hover{
    background: #565a75;
    color: #f69197;
}
#recent-projects {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    gap: 1vw;
    margin-top: 1.5vh;

}

.thumbnail-description{
    font-weight: normal;
    font-size: 1vw;
}

.home-container{
    display:inline-block ;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y:hidden ;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 3rem ;
}

#home-thumbnail{
    position: relative;
    display: inline-block;
    width: 30vw;
    height: 50vh;
    background-size: contain;
    text-align: center;
    text-decoration: none;
    color: #E8EBEA;
    transition: ease-in 0.3s;

}
#home-thumbnail:hover{
    -webkit-box-shadow: 0px 0px 39px -6px rgba(246,145,151,1);
    -moz-box-shadow: 0px 0px 39px -6px rgba(246,145,151,1);
    box-shadow: 0px 0px 39px -6px rgba(246,145,151,1);
    box-shadow: 0px 0px 39px -6px rgba(246,145,151,1);
}

#home-thumbnail>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#thumbnail-text-wrapper {
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 5vh 3vh;
    font-size: 1.5vw;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(15, 15, 27, 1) 50%);
}
#thumbnail-text-wrapper>h3{
    font-family: "lores-12", sans-serif;
    font-weight: 900;
    font-style: normal;
}
#hidden{
    display: none;
}

.home-description{
    font-weight: normal;
    font-size: 1vw;
    padding: .5rem;

}
#socials{
   display: flex;
    justify-content: left;
    gap: 1rem;
    align-items: center;

}
#socials > a{
    text-decoration: none;
    color:  rgb(86,90,117);
    border-radius: .3rem;
}
#footer{
    margin-bottom: 3rem;
    font-size: 4vh;
    padding: 0 3rem ;
}

@media only screen and (max-width: 800px) {
    #intro{
        display: flex;
        flex-direction: column;

    }
    #recent-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #home-thumbnail{
        width: 80vw;
        height: 30vh;
    }
}

@media only screen and (max-width: 550px) {
    #intro{
        margin-top: 4rem;
        min-height: 50vh;
    }
    #buttons>a{
        font-size: 3vw; ;
    }
    #recent-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #home-thumbnail{
        width: 70vw;
        height: 30vh;


    }

}