 #prisma{
    text-align: left;
     max-width: 65vw;
     font-size: 1.5rem;
     margin: auto;
     font-weight: normal;
     justify-content:normal ;
     align-items: normal;
}
.titles{
    font-family: "gambado-sans", sans-serif;
    color: #729b79;
    font-size: 3vw;
}
 .credits{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     gap: 15vw;
     line-height: 3rem;
     margin-bottom: 1rem;
 }
